{{define "head"}}
<style>
	.artifact {
		color: #e5cc80 !important;
	}
	.astounding {
		color: #e268a8 !important;
	}
	.legendary {
		color: #ff8000 !important;
	}
	.epic {
		color: #a335ee !important;
	}
	.rare {
		color: #0070ff !important;
	}
	.uncommon {
		color: #1eff00 !important;
	}
	.common {
		color: #666 !important;
	}
	.transparent {
		opacity: 0.9;
	}
	#guild_display {
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: darken;
		background-color: rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}
</style>
{{end}} {{define "content"}}
<div class="ml-64 mr-64">
	<guild-rankings></guild-rankings>
	<!-- <div class="p-8 bg-gray-800 shadow rounded">
		<character-rankings></character-rankings>
	</div> -->
</div>
{{end}} {{define "pagejs"}}
<script>
	// let logsData = null;

	// document.addEventListener('DOMContentLoaded', function() {
	//     fetchData();
	//     //now the data that came back from fetchData needs to display the Regions drop down. Once the Region is selected, show the server.
	//     // Once the server is selected, select the Game. Once the game is selected, select the Expansion. Once the expansion is slected, select the zone
	//     // Once the zone is selected, show the difficulty drop down (ONLY IF THERE IS A DIFFICULTY FIELD FOR THE SELECTED ZONE). Select size, same constraint as difficulty
	// });

	// function fetchData() {
	//     fetch(`/api/logs-data`)
	//         .then(response => response.json())
	//         .then(resp => {
	//             // console.log(resp.data);
	//             logsData = resp.data;
	//             populateGames(logsData);
	//         })
	//         .catch(err => console.error('Error fetching logs data: ', err))
	// }

	// function populateGames(data) {
	//     const gameSelect = document.getElementById('game');

	//     data.forEach(game => {
	//         const option = document.createElement('option');
	//         option.value = game.id;
	//         option.textContent = game.game_name;
	//         gameSelect.appendChild(option);
	//     });

	//     gameSelect.addEventListener('blur', async (event) => {
	//         const selectedGameId = this.value;
	//         populateRegions(selectedGameId, data);
	//     });
	// }

	// function populateRegions(gameId, data) {
	//     const regionSelect = document.getElementById('region');
	//     regionSelect.innerHTML = "";
	//     const resetOption = document.createElement('option');
	//     resetOption.value = "";
	//     resetOption.textContent = "Select Region";

	//     data.forEach(game => {
	//         if (game.id == gameId) {
	//             game.regions.forEach(region => {
	//                 console.log(region);
	//                 const option = document.createElement('option');
	//                 option.value = region.region_id;
	//                 option.textContent = region.compact_name;
	//                 regionSelect.appendChild(option);
	//                 const regionInput = document.getElementById('region-input');
	//                 regionInput.style.display = "block";
	//             });
	//         }
	//         // game.regions.forEach(region => {
	//         //     console.log(region.region_id)
	//         //     const option = document.createElement('option');
	//         //     option.value = region.region_id;
	//         //     option.textContent = region.region_name;
	//         //     regionSelect.appendChild(option);
	//         // });
	//     });

	//     regionSelect.addEventListener('blur', async (event) => {
	//         const selectedRegionId = this.value;
	//         populateServers(selectedRegionId, data);
	//     });
	// }

	// function populateServers(regionId, data) {
	//     const serverSelect = document.getElementById('serverDropdown');
	//     serverSelect.innerHTML = "";

	//     data.forEach(game => {
	//         game.regions.forEach(region => {
	//             if (region.region_id == regionId) {
	//                 region.servers.forEach(server => {
	//                     const option = document.createElement('option');
	//                     option.value = server.server_id;
	//                     option.textContent = server.server_name;
	//                     serverSelect.appendChild(option);
	//                 });
	//             }
	//         });
	//     });
	// }

	// fetchRegions();
	// function fetchRegions() {
	//     fetch(`/api/find-regions`)
	//         .then(response => response.json())
	//         .then(resp => {
	//             const regions = resp.data.regions;
	//             renderRegionsDropdown(regions);
	//         })
	//         .catch(err => console.error('Error fetching regions: ', err))
	// }
	// function renderRegionsDropdown(regions){
	//     const dropdown = document.getElementById('guildRegion');
	//     regions.forEach((region) => {
	//         const option = document.createElement('option');
	//         option.value = region.slug
	//         option.setAttribute('data-region-id', region.id)
	//         option.textContent = region.slug
	//         dropdown.appendChild(option);
	//     });
	// }

	// function fetchServers(){
	//     const dropdown = document.getElementById('guildRegion');
	//     const selectedOption = dropdown.options[dropdown.selectedIndex];

	//     const regionId = selectedOption.getAttribute('data-region-id');
	//     const regionSlug = selectedOption.value;

	//     fetch(`/api/find-server?regionId=${regionId}`)
	//         .then(response => response.json())
	//         .then(data => {
	//             const servers = data.data;
	//             renderServersDropdown(servers, regionSlug);
	//         })
	//         .catch(err => console.error('Error fetching servers: ', err));
	// }
	// function renderServersDropdown(servers, regionSlug) {
	//     const dropdown = document.getElementById('guildServer');

	//     dropdown.innerHTML = '<option value="">Select Server</option>';

	//     servers.forEach((server) => {
	//         const option = document.createElement('option');
	//         option.value = server.slug;
	//         option.textContent = server.name;
	//         dropdown.appendChild(option);
	//     });
	// }
	// Find guild
	// document.getElementById('find-guild').addEventListener('click', function () {
	//     const guildName = document.getElementById('guild').value;
	//     const guildRegion = document.getElementById('guildRegion').value;
	//     const guildServer = document.getElementById('guildServer').value;

	//     fetch(`/api/find-guild?guild=${guildName}&guildServer=${guildServer}&guildRegion=${guildRegion}`)
	//         .then(response => response.json())
	//         .then(data => {
	//             const guildInfo = document.getElementById('guild-info');
	//             guildInfo.classList.remove('hidden');
	//             guildInfo.className = 'p-4 bg-gray-900 rounded shadow text-white';
	//             guildInfo.innerHTML = `
	//                 <h3 class="text-2xl font-bold">${data.guildName}</h3>
	//                 <p>Region: ${data.region}</p>
	//                 <p>Realm: ${data.realm}</p>
	//             `;
	//         })
	//         .catch(err => console.error('Error fetching guild:', err));

	//     const guildForm = document.getElementById('guild-form');
	//     guildForm.style.display = 'none';
	// });

	// document.getElementById('add-character').addEventListener('click', async (event) => {
	//     event.preventDefault();

	//     const input = document.getElementById('character-name');
	//     const characterName = input.value.trim();

	//     if (!characterName) {
	//         alert('Please enter a character name.');
	//         return;
	//     }

	//     try {
	//         // Simulate fetching character data from an API
	//         const response = await fetch('/api/add-character', {
	//             method: 'POST',
	//             headers: {
	//                 'Content-Type': 'application/x-www-form-urlencoded',
	//             },
	//             body: `character=${characterName}`,
	//         })
	//         if (!response.ok) {
	//             throw new Error(`Failed to fetch character data for ${characterName}`);
	//         }

	//         const data = await response.json();

	//         // Create a new div for the character display
	//         const characterDiv = document.createElement('div');
	//         characterDiv.className = 'p-4 bg-gray-900 rounded shadow text-white';
	//         characterDiv.innerHTML = `
	//             <h3 class="text-2xl font-bold">${data.name}</h3>
	//             <p>Level: ${data.level}</p>
	//             <p>Class: ${data.class}</p>
	//             <p>Guild: ${data.guild}</p>
	//         `;

	//         // Append the new character div
	//         document.getElementById('characters').appendChild(characterDiv);

	//         // Clear the input field
	//         input.value = '';
	//     } catch (error) {
	//         console.error(error);
	//         alert('Error fetching character data. Please try again.');
	//     }
	// });
</script>
{{end}}
