<!-- Footer -->
<a href="https://github.com/Rothalack" class="hover:text-gray-400"></a><i class="fa-brands fa-github fa-xl"></i></a>
<a href="https://www.linkedin.com/in/brian-schaaf-6b23b771/" class="hover:text-gray-400"><i class="fa-brands fa-linkedin fa-xl"></i></a>
<a href="https://twitter.com/rothalack" class="hover:text-gray-400"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
<a href="https://www.twitch.tv/amfrothy" class="hover:text-gray-400"><i class="fa-brands fa-twitch fa-xl"></i></a>
<a href="https://discord.gg/usXXYxx" class="hover:text-gray-400"><i class="fa-brands fa-discord fa-xl"></i></a>
<!-- <a href="mailto:schaaf.brian@gmail.com"><i class="fa-regular fa-envelope fa-xl"></i></a> -->