{{define "head"}}
<style>
    .video-container {
        position: relative;
        padding-top: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
{{end}}

{{define "content"}}
<img src="./static/images/COZYWallpaper.png"/>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="p-4 bg-gray-600 shadow rounded">
        <h1 class="text-xl font-bold">The back story</h1>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/KXElLo56irw?si=Zvl7wHwj5GKiUGLC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="p-4 bg-gray-600 shadow rounded">
        <h1 class="text-xl font-bold">The system from the perspective of a member</h1>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/TmDRt_QwJfU?si=uisnGdVoXjaBhjLC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
{{end}}
<!-- https://www.icy-veins.com/forums/topic/51080-wow-classic-players-complete-blue-green-scepter-shards/ -->
<!-- https://youtu.be/KXElLo56irw?si=1ZUPD4y7WfgAEJbG  history of ME -->
<!-- https://www.youtube.com/watch?v=TmDRt_QwJfU description of the guild structure -->

<!-- org raid https://youtu.be/yPQkiYxiXgo?si=HBcUiXC23OZ8Qzxc -->
<!-- https://youtu.be/xI36G8XkYO0?si=mcepxyALAF6vOeN3 aq gates pvp -->
<!-- world first green scepter https://youtu.be/PiXI9QXc9GY?si=JnyqYqW6bME4oC2N-->
<!-- world first blue scepter https://youtu.be/CsYpiVwiJxg?si=tAdAKnItdQsfaI06 -->
<!-- https://youtu.be/SGg3BSNC0ek?si=tw4381bNwKo4esH_ mountain fun-->