<a href="https://github.com/Rothalack" title="GitHub" class="hover:text-gray-500 p-4"><i class="fa-brands fa-github fa-xl"></i></a>
<a href="https://www.linkedin.com/in/brian-schaaf-6b23b771/" title="LinkedIn" class="hover:text-gray-500 p-4"><i class="fa-brands fa-linkedin fa-xl"></i></a>
<a href="https://twitter.com/rothalack" title="Twitter" class="hover:text-gray-500 p-4"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
<a href="https://www.twitch.tv/amfrothy" title="Twitch" class="hover:text-gray-500 p-4"><i class="fa-brands fa-twitch fa-xl"></i></a>
<a href="https://discord.gg/usXXYxx" title="Discord" class="hover:text-gray-500 p-4"><i class="fa-brands fa-discord fa-xl"></i></a>
