<!doctype html>

<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P5ZXE7FKTW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-P5ZXE7FKTW');
        </script>
        <title>{{.title}}</title>
        {{template "head" .}}
        <link href="/static/css/output.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/b7634a1a6c.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="min-h-screen bg-slate-950 text-gray-100">
            <header class="p-4 bg-slate-900 text-white text-center">
                <nav class="container mx-auto flex justify-end items-center space-x-4">
                    <a href="/" class="text-sm font-semibold px-3 py-1 rounded hover:bg-gray-800 hover:text-gray-200 transition-all">
                        Home
                    </a>
                    <a href="/resume" class="text-sm font-semibold px-3 py-1 rounded hover:bg-gray-800 hover:text-gray-200 transition-all">
                        CV
                    </a>
                    <a href="/gohard" class="text-sm font-semibold px-3 py-1 rounded hover:bg-gray-800 hover:text-gray-200 transition-all">
                        Go Hard
                    </a>
                    <a href="/rankings" class="text-sm font-semibold px-3 py-1 rounded hover:bg-gray-800 hover:text-gray-200 transition-all">
                        Rankings
                    </a>
                    <!-- <a href="/gamin" class="text-sm font-semibold px-3 py-1 rounded hover:bg-gray-800 hover:text-gray-200 transition-all">
                        Gamin
                    </a> -->
                    <!-- <a href="/cars" class="text-sm font-semibold px-3 py-1 rounded hover:bg-gray-800 hover:text-gray-200 transition-all">
                        Cars
                    </a> -->
                </nav>
            </header>
            <main class="flex-grow p-8">
                {{template "content" .}}
            </main>
        </div>
        {{template "pagejs" .}}
        <footer class="sticky top-[100vh] p-4 bg-slate-900 text-gray-100 text-center">
            {{include "layouts/footer"}}
        </footer>
    </body>
</html>
